{% extends 'core/base.html' %}
{% block title %}HomePage{% endblock %}

{% block content %}
<div class="conatiner-sm m-4">
    <div class="row">
        <div class="col-md-6 justify-content-start mt-5 ms-2 border-end border-primary">
            <h3 class=" h3 pt-5" style='font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;' >ML with few <span class="text-muted">CLICKS</span></h3>
            <p class="fs-5 mt-3">Empower your AI journey with Ease! Generate powerful machine learning models in just a few clicks, bypassing the complex engineering processes. Unleash the potential of our intutive tool for effortless model creation.</p>
        </div>
        <div class="col-md-5 text-center mt-5 ms-5 me-5 border border-warning-subtle rounded-4 p-4 shadow-lg" style="background-color: rgba(176, 176, 255, 0.184);">
            <h4 class="testhead">Join the Revolution</h4>
            <p class="display-5">New User?</p> <a href="{% url 'core:signup' %}" class="btn btn-primary d-inline">Join Now</a><br/><br/><br/>
            <p class="fw-5 fw-bold d-inline">Already a User?</p><br>
            <a href="{% url 'core:console' %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Console</a>
        </div>
    </div>
</div>

{% endblock content %}