{% extends 'core/base.html' %}

{% block title %} Instance Classification {% endblock title %}


{% block content %}
<div class="continer m-3">
  <h1>Image-Based Models</h1>
  <h3 class="display-5 text-secondary">Instance Segmentation</h3>
</div>

<div class="container-md">
  <p class="fs-5 fw-semibold fst-italic">Model Specifications</p>
  <form
    method="post"
    enctype="multipart/form-data"
    class="mb-3"
    action="/image_model/results/?pid={{pid}}&type=segment"
  >
    {% csrf_token %}
    <label for="pjt-id" class="form-label w-25">Project ID</label>
    <input type="number" class="form-control w-25" disabled value="{{pid}}" id='pjt-id'/>
    <label for="size" class="form-label w-25">Size</label>
    <select id="size" name="size" class="form-select w-25" aria-label="select example">
      <option value="nano">Nano</option>
      <option value="small">Small</option>
      <option value="medium" selected>Medium</option>
    </select>
    <button type="submit" class="btn btn-primary mt-2 mb-4">
      Create Model
    </button>
  </form>
</div>
{% endblock content %}
